@font-face {
  font-family: 'Muller';
  src: url(../fonts/MullerBold.woff2),
  url(../fonts/MullerBold.woff);
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Muller';
  src: url(../fonts/MullerLight.woff2),
  url(../fonts/MullerLight.woff);
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Muller';
  src: url(../fonts/MullerMedium.woff2),
  url(../fonts/MullerMedium.woff);
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Muller';
  src: url(../fonts/MullerRegular.woff2),
  url(../fonts/MullerRegular.woff);
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-yellow: #cc9933;
  --color-black: #333333;
}


body {
  font-family: 'Muller', Arial, sans-serif;
  font-weight: 400;
  background-color: #f1f1f1;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section-heading {
  font-size: 40px;
  line-height: 32px;
  font-weight: 400;
  margin-top: 0;
  margin-left: 45px;
  margin-bottom: 31px;
  color: var(--color-black);
}


input {
  border: none;
}


input:focus {
  outline: none;
}


.icon-arrow {
  display: inline-block;
  width: 10px;
  height: 20px;
}


a {
  text-decoration: none;
  transition-property: opacity, color;
  transition-duration: .3s;
  transition-timing-function: ease;
}


a:hover {
  color: var(--color-yellow);
}


a:focus {
  color: var(--color-yellow);
}


a:active {
  color: blue;
}


p{
  margin: 0;
}


button {
  cursor: pointer;
  transition: transform .3s ease;
}


button:hover {
  transform: scale(1.01);
}

button:focus {
  outline: none;
  transform: scale(1.01);
}


button:active {
  transform: translateY(1px);
}


/* Header */
.header {
  min-height: 160px;
  padding-top: 30px;
  padding-bottom: 35px;
}

.header-top {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.logo-img {
  margin-right: 25px;
}

.header-contacts {
  margin-right: auto;
  font-size: 22px;
  line-height: 32px;
  font-weight: bold;
  color: #666666;
  text-decoration: none;
}


.header-link {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: var(--color-yellow);
  text-decoration: none;
  margin-right: 10px;
  transition: color .3s ease;
}


.header-link:hover {
  color: black;
}


.header-link:focus {
  color: black;
}


.header-link:active {
  color: blue;
}


.icon-arrow-personal {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../img/arrow-personal.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: translateY(3px);
}


.header-nav {
  display: flex;
  max-height: 70px;
  align-items: center;
  padding: 30px 20px;
  border-radius: 12px;
  background-color: #ffffff;
}

.nav-list {
  display: flex;
  margin-right: auto;
}


.nav-link {
  font-size: 16px;
  line-height: 32px;
  color: var(--color-black);
  text-decoration: none;
}


.menu-item:not(:last-child) {
  margin-right: 45px;
}


.nav-search-wrapper {
  display: flex;
  align-items: center;
  width: 355px;
  height: 48px;
  border-radius: 15px;
  background-color: #f1f1f1;
}


.nav-search {
  background-color: #f1f1f1;
  border: none;
  margin-left: 20px;
  margin-right: 120px;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
}


.nav-search::placeholder {
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  color: #bebebe;
}


.nav-btn {
  width: 22px;
  height: 22px;
  background: url('../img/search.svg') center no-repeat;
  border: none;
}


.quick-booking-special-offer {
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
  padding-top: 35px;
}

/* section-quick-booking */
.section-quick-booking {
  margin-right: 60px;
}


.form {
  display: flex;
  flex-direction: column;
  width: 518px;
  max-height: 540px;
}


.form-input {
  min-height: 70px;
  margin-bottom: 24px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  padding-left: 20px;
}


.form-input::placeholder {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #999999;
}


.end-form {
  display: flex;
  align-items: center;
}


.form-btn {
  min-width: 159px;
  min-height: 70px;
  border-radius: 12px;
  background-color: var(--color-yellow);
  color: white;
  border: none;
  margin-right: 30px;
  font-size: 16px;
  line-height: 32px;
  color: #f8f1e4;
  font-weight: 700;
}

.form-link {
  margin-right: 7px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: var(--color-yellow);
  text-decoration: none;
  transition: color .3s ease;
}


.form-link:hover {
  color: black;
}


.form-link:focus {
  color: black;
}


.form-link:active {
  color: blue;
}


.form-link-desc {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #a5a5a5;
}


/* special-offer */
.specialoffer-article {
  width: 595px;
  max-height: 540px;
  background-image: url('../img/special-ofer.png');
  background-repeat: no-repeat;
  background-size: contain;
}


.specialoffer-subtitle {
  font-size: 66px;
  line-height: 58px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  padding: 265px 235px 45px 40px;
}


.specialoffer-desc {
  font-size: 35px;
  line-height: 32px;
  font-weight: 400;
  color: #a9968a;
  margin: 0;
  padding-left: 40px;
  padding-bottom: 35px;
}


.specialoffer-link {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: var(--color-yellow);
  text-decoration: none;
  padding-left: 45px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='13px' height='20px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(204, 153, 51)' stroke-width='2px' stroke-linecap='round' stroke-linejoin='miter' fill='none' d='M2.496,2.502 L9.287,9.504 L2.496,16.505 '/%3E%3C/svg%3E ");
  background-position: right;
  background-repeat: no-repeat;
  transition: color .3s ease, background-color .3s ease;
}


.specialoffer-link:hover {
  color: white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='13px' height='20px'%3E%3Cpath fill-rule='evenodd' stroke='white' stroke-width='2px' stroke-linecap='round' stroke-linejoin='miter' fill='none' d='M2.496,2.502 L9.287,9.504 L2.496,16.505 '/%3E%3C/svg%3E ");
}

.specialoffer-link:focus {
  color: white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='13px' height='20px'%3E%3Cpath fill-rule='evenodd' stroke='white' stroke-width='2px' stroke-linecap='round' stroke-linejoin='miter' fill='none' d='M2.496,2.502 L9.287,9.504 L2.496,16.505 '/%3E%3C/svg%3E ");
}


.specialoffer-link:active {
  color: blue;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='13px' height='20px'%3E%3Cpath fill-rule='evenodd' stroke='blue' stroke-width='2px' stroke-linecap='round' stroke-linejoin='miter' fill='none' d='M2.496,2.502 L9.287,9.504 L2.496,16.505 '/%3E%3C/svg%3E ");
}


/* section-aboutus */
.section-aboutus {
  padding-top: 35px;
  padding-bottom: 35px;

}


.aboutus-desc {
  padding-left: 45px;
  padding-right: 240px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #999999;
}


/* service */
.section-service {
  padding-top: 35px;
  padding-bottom: 35px;
}


.service-list {
  display: flex;
  flex-flow: row wrap;
}


.service-item {
  width: 572px;
  min-height: 325px;
  padding: 200px 110px 40px 45px;
  border: none;
  border-radius: 12px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: top;
}


.service-item:nth-child(1) {
  margin-bottom: 25px;
  background-image: url('../img/service-exlusive.jpg');
}


.service-item:nth-child(2) {
  margin-bottom: 25px;
  background-image: url('../img/service-arenda.jpg');
}


.service-item:nth-child(3) {
  background-image: url('../img/service-sauna.jpg');
}


.service-item:nth-child(4) {
  background-image: url('../img/service-parcing.jpg');
}



.service-item:not(:nth-child(even)) {
  margin-right: 25px;
}


.service-item-link {
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
  color: var(--color-yellow);
  text-decoration: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='13px' height='20px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(204, 153, 51)' stroke-width='2px' stroke-linecap='round' stroke-linejoin='miter' fill='none' d='M2.496,2.502 L9.287,9.504 L2.496,16.505 '/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: right;
  transition: color .3s ease, background-color .3s ease;
}


.service-item-link:hover {
  color: black;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='13px' height='20px'%3E%3Cpath fill-rule='evenodd' stroke='black' stroke-width='2px' stroke-linecap='round' stroke-linejoin='miter' fill='none' d='M2.496,2.502 L9.287,9.504 L2.496,16.505 '/%3E%3C/svg%3E ");
}

.service-item-link:focus {
  color: black;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='13px' height='20px'%3E%3Cpath fill-rule='evenodd' stroke='black' stroke-width='2px' stroke-linecap='round' stroke-linejoin='miter' fill='none' d='M2.496,2.502 L9.287,9.504 L2.496,16.505 '/%3E%3C/svg%3E ");
}


.service-item-link:active {
  color: blue;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='13px' height='20px'%3E%3Cpath fill-rule='evenodd' stroke='blue' stroke-width='2px' stroke-linecap='round' stroke-linejoin='miter' fill='none' d='M2.496,2.502 L9.287,9.504 L2.496,16.505 '/%3E%3C/svg%3E ");
}


.service-item-desc {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: var(--color-black);
}


/* advantages */
.section-advantages {
  padding-top: 35px;
  padding-bottom: 35px;
}

.advantages-list {
  display: flex;
  flex-flow: row wrap;
}


.advantages-item {
  background-color: #ffffff;
  width: 275px;
  min-height: 275px;
  border: none;
  border-radius: 12px;
  margin-bottom: 23px;
}


.advantages-pic {
  display: inline-block;
  width: 63px;
  height: 59px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 40px;
  margin-left: 40px;
}


.advantages-bath {
  background-image: url('../img/bathtub.svg');
}


.advantages-hanger {
  background-image: url('../img/hanger.svg');
}


.advantages-heating {
  background-image: url('../img/heating.svg');
}


.advantages-hotel-key {
  background-image: url('../img/hotel-key.svg');
}


.advantages-parking {
  background-image: url('../img/parking.svg');
}


.advantages-reception {
  background-image: url('../img/reception.svg');
}


.advantages-security-box {
  background-image: url('../img/security-box.svg');
}


.advantages-swimming-pool {
  background-image: url('../img/swimming-pool.svg');
}


.advantages-item-desc {
  margin: 0;
  padding: 15px 40px 29px 40px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: var(--color-black);
}


.advantages-item:not(:nth-child(4n)) {
  margin-right: 23px;
}

/* accommodation */
.section-accommodation {
  padding-top: 35px;
  padding-bottom: 35px;
}


.hotel-img {
  width: 373px;
  height: 215px;
}

.rating-stars {
  width: 14px;
  height: 13px;
}


.rating-stars-grey {
  width: 14px;
  height: 13px;
}


.accommodation-list {
  display: flex;
  flex-wrap: wrap;
}

.accommodation-item {
  margin-bottom: 24px;
}

.accommodation-item:not(:nth-child(3n)) {
  margin-right: 24px;
}


.accommodation-item-all-variants {
  position: relative;
  width: 373px;
  background-image: url('../img/acomadation-all-variants.png');
  background-repeat: no-repeat;
  padding-left: 40px;
  padding-top: 365px;
}


.accommodation-item-link {
  font-size: 22px;
  line-height: 1;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='13px' height='20px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(255, 255, 255)' stroke-width='2px' stroke-linecap='round' stroke-linejoin='miter' fill='none' d='M2.496,2.503 L9.287,9.504 L2.496,16.505 '/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: right;
  transition: color .3s ease, background-color .3s ease;
}


.accommodation-item-link:hover {
  color: var(--color-yellow);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='13px' height='20px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(204, 153, 51)' stroke-width='2px' stroke-linecap='round' stroke-linejoin='miter' fill='none' d='M2.496,2.503 L9.287,9.504 L2.496,16.505 '/%3E%3C/svg%3E ");
}


.accommodation-item-link::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.hotel {
  width: 373px;
  min-height: 441px;
  background-color: #ffffff;
  border: none;
  border-radius: 12px;
  overflow: hidden;
}


.hotel-wrapper {
  line-height: 32px;
  padding: 32px 45px;
}


.hotel-desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}


.hotel-price {
  margin: 0;
  font-size: 16px;
}


.accommodation-location {
  margin: 0;
  padding: 0;
}

.accommodation-hotelname {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-black);
}


.accommodation-btn-rooms {
  margin-top: 20px;
  width: 100px;
  height: 41px;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  color: var(--color-yellow);
  border: 1px solid var(--color-yellow);
  border-radius: 12px;
}


.text-grey {
  font-size: 16px;
  font-weight: 400;
  color: #999999;
}


.text-bold {
  font-size: 22px;
  font-weight: 700;
  color: var(--color-black);
}


/* Contacts */
.section-contacts {
  padding-top: 11px;
  padding-right: 178px;
}


/* container-contacts-write */
.container-contacts-write {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}


.contacts-list {
  width: 472px;
  min-height: 620px;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 44px;
}


.contacts-item {
  display: flex;
  padding-bottom: 27px;
  border-bottom: 1px solid #cccccc;
}


.contacts-item:not(:first-child) {
  padding-top: 27px;
}


.contacts-subtittle {
  margin: 0;
  min-width: 115px;
  font-size: 22px;
  line-height: 1;
  font-weight: 700;
  color: #666666;
  margin-right: 40px;
}


.contacts-desc {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-black);
}


.contacts-link {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-yellow);
  transition: color .3s ease;
}


.contacts-link:hover {
  color: black;
}


.contacts-link:focus {
  color: black;
}


.contacts-link:active {
  color: blue;
}


.contacts-btn {
  margin-top: 45px;
  padding: 30px;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color:  var(--color-yellow);
  background-color: #ffffff;
  border: 1px solid var(--color-yellow);
  border-radius: 12px;
}


/* Write */
.section-write {
  text-align: center;
}


.section-heading-write {
  font-size: 40px;
  line-height: 32px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 31px;
  color: var(--color-black);
}


.form-write {
  display: flex;
  flex-direction: column;
}


.write-input {
  min-width: 340px;
  min-height: 70px;
  margin-bottom: 23px;
  padding-left: 22px;
  background-color: #ffffff;
  border-radius: 12px;
}


.write-input:nth-child(3) {
  min-height: 110px;
  padding-bottom: 60px;
}


.write-input::placeholder {
  font-size: 16px;
  line-height: 1;
  color: #999999;
}


.write-btn {
  padding: 27px 130px;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #ffffff;
  background-color: var(--color-yellow);
  border: none;
  border-radius: 12px;
}


.write-btn {
  cursor: pointer;
  transition: transform .2s ease;
}


.write-btn:hover {
  transform: scale(1.01);
}


.write-btn:focus {
  transform: scale(1.01);
}


.write-btn:active {
  transform: translateY(1px);
}


/* Footer */
.footer {
  padding-top: 10px;
}


.footer-container {
  display: flex;
  min-height: 340px;
  margin-bottom: 50px;
  background-color: var(--color-black);
  border-radius: 12px;
}


.footer-left-list {
  min-width: 420px;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-right: 120px;
  margin-left: 50px;
}


.footer-left-item:not(:last-child) {
  padding-bottom: 30px;
}


.footer-desc {
  font-style: normal;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #ffffff;
}


.footer-left-link {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-yellow);
  line-height: 1;
  transition: color .3s ease;
}


.footer-left-link:hover {
  color: white
}


.footer-left-link:focus {
  color: white;
}


.footer-left-link:active {
  color: blue;
}


.footer-center-list {
  min-width: 520px;
  padding-top: 45px;
  padding-bottom: 45px;
  margin-right: 106px;
  background-image: url('../img/footer-logo.png');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}


.footer-center-item {
  padding-bottom: 30px;
}


.footer-center-link {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-yellow);
  transition: color .3s ease;
}


.footer-center-link:hover {
  color: white;
}


.footer-center-link:focus {
  color: white;
}


.footer-center-link:active {
  color: blue;
}


.footer-right{
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  padding-bottom: 45px;
  margin-right: 50px;
}


.footer-icon {
  display: inline-block;
  margin-bottom: 20px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: .5;
  transition: opacity .3s ease;
}


.footer-icon:hover {
  opacity: 1;
}


.footer-icon:focus {
  opacity: 1;
}


.footer-icon:active {
  opacity: .1;
}


.icon-tripadvisor {
  background-image: url('../img/tripadvisor-icon.svg');
}


.icon-twitter {
  background-image: url('../img/twitter-icon.svg');
}


.icon-facebook {
  background-image: url('../img/facebook-icon.svg');
}


.icon-vk {
  background-image: url('../img/vk-icon.svg');
}


.icon-google {
  background-image: url('../img/google-icon.svg');
}














